@keyframes typing {
    from { width: 100% }
    to { width: 0 }

}

.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /*margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  font-family: Consolas, monospace;
  animation: 
    typing 3.5s steps(100, end),
    blink-caret .75s step-end infinite;
}

.typewriterA p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /*margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  font-family: Consolas, monospace;
  animation: 
    typing 3.5s steps(100, end),
    blink-caret .75s step-end infinite;
    animation-delay: 3.5s;
    animation-fill-mode: both;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.container {
  position: relative;
  font-family: Consolas, monospace;
}

.typing {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;
}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hiders p {
  position: relative;
  clear: both;
  margin: 0;
  float: right; /* makes animation go left-to-right */
  width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background: #141821; /* same as page background */
  animation: typing 2s steps(30, end);
  animation-fill-mode: both;  /* load first keyframe on page load, leave on last frame at end */
}

.hiders p:nth-child(2) {
  animation-delay: 2s;
}
.hiders p:nth-child(3) {
  animation-delay: 4s;
}
.hiders p:nth-child(4) {
  animation-delay: 6s;
}
.hiders p:nth-child(5) {
  animation-delay: 8s;
}

.code-blue {
    color:  #3d9cda;
}

.code-light-blue {
    color: #88dafb;
}

.code-green {
    color: #00cdaf;
}
.code-light-green {
    color: #aecfa4;
}
.code-red {
    color: #d88e73;
}

.purple {
    color: purple;
}
